.home {
    background-image: url(https://wallpaperaccess.com/full/1496231.jpg);
    background-size: "cover";
    height: 100vh;
    margin-top: -70px;    
    background-repeat:no-repeat;
}

.phrase {
    
    position: absolute;
   top: 40%;
   left: 10%;
    background-color: black;
    color: white;
 
    font-family: 'Square Peg', cursive;
    font-style: italic;
    
  

}
.phrase2 {
    
    position: absolute;
   top: 50%;
   left: 10%;
    background-color: black;
    color: white;
 
    font-family: 'Square Peg', cursive;
    font-style: italic;
    
  

}